@import "common.css";



form{
	width: 600px;
	position: relative;
	left: 100px;
	top: 100px;
}
form fieldset{
	margin-bottom: 50px;
}
form input{
	width:120px;
}
#submit{
	width: 120px;
	margin-left: 200px;
}